<div>
    <h1>Inyección de cookies</h1>
    <form id="cookieForm">
        <label>Nombre</label>
        <input name="name">
        <label>Correo electrónico</label>
        <input name="email">
        <input type="submit" value="Enviar Cookie">
    </form>
    <button onclick="getCookie()">Obtener Cookie</button>
</div>
<script src="./js/cookieSetter.js"></script>