<div>
    <h1>Home</h1>
    <input id="chatbox">
    {{#each msg as |obj|}}
    {{obj.socketid}}: {{obj.message}}
    {{/each}}
    <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>