
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Inicio</title>
{{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>