<div>
    <h1>Registro</h1>
    <form action="/api/user" method="post">
        <label>Nombre</label>
        <input name="name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>